*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(../img/background_img.jpg);
    background-size: cover;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: #E9E8E6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    padding: 0px 13px 0px 13px;
}

a {
    color: #444444;
    text-decoration: none;
    font-size: 15px;
}

.logo a {
    font-size: 32px;
}

.pages a {
    padding: 15px 14px;
}

.social-links a {
    font-size: 16px;
    padding-left: 6px;
    color: #444444;
}

.pages a:hover {
    color: #34B7A7;
    transition: 0.5s ease;
}

.social-links a:hover {
    color: #34B7A7;
    transition: 0.5s ease;
}

.hero {
    color: #E9E8E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.hero h2 {
    font-size: 48px;
    font-weight: 700;
}

.hero p {
    margin-top: 10px;
    font-size: 24px;
}

.hero a {
    color: #E9E8E6;
    background-color: #34B7A7;
    border-radius: 50px;
    padding: 12px 40px;
    margin-top: 10px;
}

.hero a:hover {
    background-color: rgb(109, 212, 200);
    transition: 0.5s ease;
}
